$def with (embeddedID)
<div style="margin:0;padding:0" dir="ltr">
  <table width="100%" border="0" cellspacing="0">
    <tbody>


      <tr>
        <td align="center">
          <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
              <tr>
                <td align="center" width="680" style="padding:20px 15px 0 15px">
                  <img src="http://www.intra-vires.com/static/img/login/logo.png" height="150" >
                  
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>


      <tr>
        <td style="padding:0 15px 40px 15px" align="center">
          <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td width="470" style="font-size:14px;line-height:22px;font-family:'Lucida Grande',Tahoma,sans-serif;color:#89949b" valign="top" align="center">
                  <div style="font-size:22px;line-height:28px;font-family:'Helvetica,Lucida Grande',Tahoma,sans-serif;color:#68757e;margin-bottom:5px">
                    You have indicated that you want to reset your password
                  </div>
					Please click the link below to reset your password.<br>
				 


                  <br>
                    <br>
                      <a style="margin:8px 0;border-style:solid;display:inline-block;border-width:20px 68px;border-color:#ff6262;background-color:#ff6262;font-size:16px;font-weight:normal;text-decoration:none;white-space:nowrap;font-family:'Lucida Grande',Tahoma,sans-serif;color:#ffffff" 
					  href=$:embeddedID 
					  
					  
					  
			
					  target="_blank">		  <!-- THERE SHE BLOWS -->
                        Reset Your Password
                      </a>
                      <br>
					  <div style ="margin: 40px 0 100px 0px;">
						If this you didn't forget your password, please ignore this email.
						
						
						
						</div>
                </td>
				<td>
				
				</td>
              </tr>

            </tbody>
          </table>
        </td>
      </tr>

      <tr>
	
        <td align="center" style="padding:45px 15px;background-color:#e1e6e9;font-size:12.5px;line-height:18px;font-family:'Lucida Grande',Tahoma,sans-serif;color:#4b5c66">

			  
			  <div style="margin:0 0 20px 0;font-size:12px;font-family:'Lucida Grande',Tahoma,sans-serif">
			  Intra Vires Research Tools <br>
			  Automate your legal citations. Minimize the hassle.
			  </div>
			  <p style="margin:30px 0;font-size:11px;line-height:15px;font-family:'Lucida Grande',Tahoma,sans-serif">
				 © 2013-2014 Intra Vires Research Tools Ltd. All rights reserved.
				</p>
		</tr>
			  
			  
			  
			  
	    <tr>
			<td style="background-color:#f9f9f9;color:#89949b">
			<table align = "center" border="0" cellpadding="0" cellspacing="0">
				</tbody>
				  <tr>
						<td  align="center">
						  <p style="margin:30px 15px;font-size:12.5px;line-height:18px;font-family:'Lucida Grande',Tahoma,sans-serif">
							<a href="http://www.intra-vires.com" style="text-decoration:none;color:#008fd5" target="_blank">intra-vires.com</a>
							&nbsp;|&nbsp;
							<a href="https://www.facebook.com/IntraViresResearchTools" style="text-decoration:none;color:#008fd5" target="_blank">Facebook</a>
						</td>
					</tr>
		 
					</tbody>
				  </table>	
			</td>
		</tr>  
	</tbody>
  </table>








    </div>
